@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

:root{
    --roboto: 'Quicksand', sans-serif;
}

body{
    animation: fade 1s ease;
    background-color: #28464B;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* Testing purposes */

h1{
    color: #6BE4D4;
    font-family: var(--roboto);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 25px 0px 25px;
    height: 80vh;
    max-height: 1080px;
    border: 15px solid #6BE4D4;
}

.container #message-container{
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
}

.container #message-container div{
    font-family: var(--roboto); 
    font-size: 24px;
    padding: 10px 10px 0px 10px;
    max-height: 1080px;
    background-color: white;
}

.container form#send-container{
    display: flex;
    text-align: center;
    width: 100%;
    height: 50px;
}

input#message-input{
    width: 97%;
    height: 100%;   
    border: none;
    border-top: 1px #28464B solid;
    padding: 0px 10px 0px 10px;
    font-family: var(--roboto); 
    font-size: 18px;
}

button#send-button{
    background-color: #28464B;
    width: 3%;
    height: 103%;
    border: none;
}

button#send-button i{
    font-size: 36px;
    padding: 5px;
    color: #6BE4D4;
}

#message-container::-webkit-scrollbar {
    width: .5em;
  }
 
  #message-container::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    background-color: #28464b41;
  }

#message-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #28464b41;
  }
   
#message-container::-webkit-scrollbar-thumb {
    background-color: #28464B;
    border: 1px solid #28464B;
    border-radius: 10px;
  }